body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:active {
  transform: scale(0.97);
}

.container {
  max-width: 1170px;
  margin: auto;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header__logo {
  padding-top: 30px;
}

.header__nav {
  padding: 45px 0 0 45px;
}

.header__link, .header__lang {
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 700;
}

.header__link {
  position: relative;
  margin: 0 30px;
}

.header__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  background: linear-gradient(-90deg, #93e599 0%, #17adc9 100%);
  transition: 0.3s;
}

.header__link:hover::before {
  width: 100%;
}

.header__lang {
  position: relative;
  padding: 45px 0 0 310px;
}

.header__lang::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border: 3px solid #FFFFFF;
  border-left: none;
  border-bottom: none;
  transform: rotate(135deg);
  left: 350px;
  top: 48px;
}

.hero {
  background: url(../../img/hero/bg.jpg) center;
  background-size: cover;
}

.hero__title {
  padding-top: 230px;
  font-size: 62px;
  line-height: 60px;
  color: #FFFFFF;
}

.hero__subtitle {
  padding: 15px 0;
  font-size: 44px;
  line-height: 60px;
  color: #FFFFFF;
  font-weight: 300;
}

.hero__description {
  max-width: 435px;
  font-size: 17px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__btn {
  margin: 40px 0 255px 0;
  width: 200px;
  height: 58px;
  border-radius: 29px;
  background: linear-gradient(-90deg, #93e599 0%, #17adc9 100%);
  font-size: 17px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Karla";
  text-align: center;
}

.hero__btn-transperent {
  margin-left: 20px;
  width: 200px;
  height: 58px;
  border: 2px solid #FFFFFF;
  border-radius: 29px;
  background: transparent;
  font-size: 17px;
  line-height: 40px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Karla";
  text-align: center;
}

.hero .slick-list.draggable {
  width: 894px;
  height: 684px;
  margin: 160px 0 0 -130px;
}

.hero .slick-track {
  border: none;
  outline: none;
}

.hero .slick-prev.slick-arrow,
.hero .slick-next.slick-arrow {
  position: absolute;
  height: 48px;
  width: 48px;
  font-size: 0;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background: transparent;
  outline: none;
}

.hero .slick-prev.slick-arrow::after,
.hero .slick-next.slick-arrow::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border: 3px solid #FFFFFF;
  border-top: none;
  border-left: none;
}

.hero .slick-prev.slick-arrow:hover,
.hero .slick-next.slick-arrow:hover {
  border: 1px solid #cc56f1;
}

.hero .slick-prev.slick-arrow {
  left: -580px;
  top: 635px;
}

.hero .slick-next.slick-arrow {
  left: -515px;
  bottom: 0;
}

.hero .slick-next.slick-arrow::after {
  transform: rotate(-45deg);
  top: 38%;
  left: 35%;
}

.hero .slick-prev.slick-arrow::after {
  transform: rotate(135deg);
  top: 40%;
  left: 42%;
}

.customer__subtitle {
  padding: 185px 0 0 100px;
  font-size: 18px;
  line-height: 53px;
  color: #a841e6;
  font-weight: 700;
  font-family: "Karla";
}

.customer__title {
  position: relative;
  padding-left: 100px;
  max-width: 435px;
  font-size: 45px;
  line-height: 55px;
  color: #010c39;
}

.customer__title::before {
  content: '';
  position: absolute;
  background-image: url(../../img/customer/decor2svg.svg);
  background-repeat: no-repeat;
  width: 249px;
  height: 199px;
  top: -40px;
  right: -20px;
}

.customer__title::after {
  content: '';
  position: absolute;
  background-image: url(/img/customer/decor1.svg);
  background-repeat: no-repeat;
  height: 8px;
  width: 65px;
  bottom: -38px;
  left: 100px;
}

.customer__description {
  padding: 75px 0 50px 100px;
  font-size: 16px;
  line-height: 26px;
  color: #787878;
}

.customer__boxes {
  padding-left: 100px;
}

.customer__square {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 170px;
  height: 170px;
  background-color: #f5fbff;
  margin-left: 30px;
}

.customer__square:first-child {
  margin: 0;
}

.customer__num {
  font-size: 38px;
  line-height: 30px;
  color: #a841e6;
  font-weight: 700;
  font-family: "Work Sans";
}

.customer__text {
  font-size: 16px;
  line-height: 26px;
  color: #787878;
}

.customer__img {
  transform: translate(-100px, 100px);
  margin-bottom: 190px;
}

.services {
  position: relative;
  background-color: #f7fcff;
}

.services__content {
  text-align: center;
}

.services__subtitle {
  padding: 75px 0 40px 0;
  font-size: 18px;
  color: #a841e6;
  font-family: "Karla";
  font-weight: 700;
}

.services__title {
  position: relative;
  font-size: 45px;
  color: #010c39;
  padding-bottom: 135px;
}

.services__title::before {
  content: '';
  position: absolute;
  background-image: url(/img/customer/decor1.svg);
  background-repeat: no-repeat;
  height: 8px;
  width: 65px;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.services__btn {
  width: 200px;
  height: 58px;
  border-radius: 29px;
  background: linear-gradient(130deg, #7525d7 0%, #f169fd 100%);
  font-size: 17px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Karla";
  text-align: center;
  margin: 60px 0 110px 0;
}

.services__row {
  text-align: start;
  justify-content: space-between;
}

.services__icon {
  border-radius: 8px;
  background: linear-gradient(130deg, #7525d7 0%, #f169fd 100%);
  padding: 20px;
  margin: 45px 0;
}

.services__name {
  font-size: 23px;
  color: #010c39;
  font-weight: 600;
}

.services__description {
  max-width: 195px;
  margin: 35px 0;
  font-size: 16px;
  color: #787878;
}

.services__link {
  position: relative;
  font-size: 16px;
  color: #010c39;
  font-weight: 700;
}

.services__link::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #010c39;
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
  top: 6px;
  left: 90px;
}

.services__item {
  position: relative;
  box-sizing: border-box;
  width: 270px;
  height: 400px;
  border-radius: 5px;
  filter: drop-shadow(0 0 10px rgba(191, 191, 191, 0.15));
  background-color: #FFFFFF;
  padding-left: 40px;
}

.services__item::before {
  content: '';
  position: absolute;
  width: 43px;
  height: 43px;
  border-radius: 21px;
  background: #f4dff7;
  top: 30px;
  left: 20px;
  z-index: -1;
}

.services__item::after {
  content: '';
  position: absolute;
  background: url(../../img/services/decor.svg) no-repeat;
  width: 75px;
  height: 85px;
  top: 0;
  right: 0;
}

.video {
  position: relative;
  background: url(../../img/video/background.jpg) no-repeat center;
  background-size: cover;
}

.video::after {
  content: '';
  position: absolute;
  background: url(../../img/video/decor2.svg) no-repeat;
  width: 280px;
  height: 330px;
  top: 0;
  right: 0;
}

.video::before {
  content: '';
  position: absolute;
  background: url(../../img/video/decor1.svg) no-repeat;
  width: 280px;
  height: 330px;
  top: 90px;
  left: 865px;
}

.video__title {
  position: relative;
  margin: 120px 0 50px 150px;
  font-size: 45px;
  color: #FFFFFF;
}

.video__title::before, .video__title::after {
  content: '';
  position: absolute;
  background: url(../../img/video/Dots.svg) no-repeat;
  width: 210px;
  height: 140px;
  top: 0px;
  left: 0px;
}

.video__btn {
  margin: 0 0 120px 150px;
  width: 200px;
  height: 58px;
  border-radius: 29px;
  background: linear-gradient(-90deg, #93e599 0%, #17adc9 100%);
  font-size: 17px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Karla";
  text-align: center;
}

.video__img {
  transform: translate(-10px, 130px);
}

.portfolio {
  height: 1075px;
}

.portfolio__subtitle {
  padding-top: 231px;
  font-size: 18px;
  color: #a841e6;
  font-weight: 700;
}

.portfolio__title {
  padding: 30px 0 80px 0;
  max-width: 415px;
  font-size: 45px;
  color: #010c39;
}

.portfolio__row {
  justify-content: space-between;
}

.portfolio__item {
  box-sizing: border-box;
  padding-left: 23px;
  width: 370px;
  height: 520px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.08));
  background-color: #FFFFFF;
}

.portfolio__text {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Karla";
  color: #a841e6;
}

.portfolio__name {
  margin-top: 25px;
  font-size: 23px;
  color: #010c39;
  font-weight: 600;
}

.portfolio__description {
  margin-top: 25px;
  font-size: 16px;
  color: #787878;
}

.portfolio__img {
  margin-top: 40px;
  width: 325px;
  height: 300px;
}

.team {
  position: relative;
  background: url(../../img/team/team-bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
}

.team__subtitle {
  padding: 80px 0 40px 0;
  font-size: 18px;
  color: #a841e6;
  font-weight: 700;
  font-family: "Karla";
}

.team__title {
  position: relative;
  padding-bottom: 130px;
  font-size: 45px;
  color: #010c39;
}

.team__title::before {
  content: '';
  position: absolute;
  background-image: url(../../img/customer/decor1.svg);
  background-repeat: no-repeat;
  height: 8px;
  width: 65px;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.team__row {
  justify-content: space-evenly;
  padding-bottom: 120px;
}

.team__item {
  width: 250px;
  height: 420px;
  background: #010c39;
  border-radius: 60px;
}

.team__avatar {
  width: 250px;
  height: 250px;
  border-radius: 60px;
  box-shadow: 0px 20px 0px 3px #FFFFFF;
}

.team__name {
  padding: 55px 0 10px 0;
  font-size: 21px;
  color: #FFFFFF;
  font-weight: 700;
}

.team__specialization {
  position: relative;
  padding-bottom: 20px;
  font-size: 15px;
  color: #FFFFFF;
}

.team__specialization::before {
  content: '';
  position: absolute;
  bottom: -70px;
  left: -20px;
  width: 115px;
  height: 115px;
  border-radius: 57px;
  background-color: #a841e6;
  opacity: 0.2;
}

.team__social {
  margin-left: 55px;
}

.team__icon {
  padding: 0 10px;
}

.reviews {
  position: relative;
  height: 705px;
  background: linear-gradient(130deg, #7525d7 0%, #f169fd 100%);
}

.reviews::before {
  content: '';
  position: absolute;
  background: url(../../img/reviews/reviews-decor2.svg) no-repeat;
  width: 691px;
  height: 300px;
  bottom: 0;
  left: 10px;
}

.reviews::after {
  content: '';
  position: absolute;
  background: url(../../img/reviews/reviews-decor1.svg) no-repeat;
  width: 280px;
  height: 325px;
  top: 0;
  left: 10px;
}

.faq {
  height: 890px;
}

.faq__img {
  padding: 120px 0;
}

.faq__subtitle {
  padding-top: 135px;
  font-size: 18px;
  color: #a841e6;
  font-weight: 700;
  font-family: "Karla";
}

.faq__title {
  position: relative;
  padding: 35px 0 100px 0;
  font-size: 45px;
  color: #010c39;
}

.faq__title::before {
  content: '';
  position: absolute;
  background-image: url(/img/customer/decor1.svg);
  background-repeat: no-repeat;
  height: 8px;
  width: 65px;
  bottom: 55px;
}

.faq__accordion {
  max-height: 700px;
}

.faq__contentBox {
  position: relative;
  margin-top: 20px;
  padding: 30px 0 30px 30px;
  border-radius: 5px;
  filter: drop-shadow(0 0 7.5px rgba(0, 0, 0, 0.08));
  background-color: #FFFFFF;
  cursor: pointer;
}

.faq__contentBox.active .faq__text {
  height: 70px;
  padding-top: 25px;
  transition: 0.3s;
}

.faq__contentBox::before {
  content: '';
  position: absolute;
  background: url(../../img/services/decor.svg) no-repeat;
  width: 75px;
  height: 75px;
  top: 0;
  right: 0;
}

.faq__label {
  position: relative;
  font-size: 21px;
  color: #010c39;
  font-weight: 600;
}

.faq__text {
  position: relative;
  font-size: 16px;
  color: #787878;
  max-width: 490px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
