@media screen and (max-width: 1366px) {
    .hero .slick-list.draggable {
        width: 775px !important;
        top: 65px;
    }
}

@media screen and (max-width: 1440px) {
    .hero .slick-list.draggable {
        width: 775px !important;
        top: 65px;
    }
}