.contact {
    height: 624px;
    &__content {
        width: 1170px;
        height: 624px;
        border-radius: 16px;
        background-color: #f6fcff;
        border: 3px dashed $purple;
    }
    &__info {
        max-width: 260px;
    }
    &__form {
        justify-content: space-between;
        max-width: 700px;
    }
    &__input {
        box-sizing: border-box;
        margin-bottom: 20px;
        padding-left: 30px;
        width: 335px;
        height: 60px;
        border-radius: 5px;
        filter: drop-shadow(0 0 4px rgba(0,0,0,0.03));
        background-color: $white;
    }
    &__textarea {
        min-width: 700px;
        min-height: 213px;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding-left: 30px;
        width: 335px;
        height: 60px;
        border-radius: 5px;
        filter: drop-shadow(0 0 4px rgba(0,0,0,0.03));
        background-color: $white;
        border: none;
        outline: none;
        resize: none;
    }
}