.footer {
    background: #010c39;
    &__top {
        padding: 315px 0 120px 0;
        justify-content: space-between;
    }
    &__middle {
        margin-bottom: 153px;
    }
    &__middle-left {
        flex-direction: column;
    }
    &__middle-right {
        margin-top: 10px;
    }
    &__col {
        max-width: 130px;
        &:nth-child(1) {
            margin-left: 155px;
        }
        &:nth-child(2) {
            margin-left: 130px;
        }
        &:nth-child(3) {
            margin-left: 90px;
        }
    }
    &__title {
        max-width: 410px;
        font-size: 32px;
        font-family: "Karla";
        color: $white;
        font-weight: bold;
    }
    &__decsription {
        font-size: 15px;
        color:$grey;
    }
    &__form {
        position: relative;
    }
    &__input {
        box-sizing: border-box;
        margin: 40px 0 20px 0;
        padding-left: 27px;
        border-radius: 5px;
        background-color: rgb(12, 28, 93);
        width: 398px;
        min-height: 58px;
    }
    &__btn {
        position: absolute;
        width: 115px;
        height: 58px;
        border-radius: 5px;
        background:$greenGradient;
        color:$white;
        font-size: 17px;
        font-weight: bold;  
        top: 40px;
        left: 285px;
    }
    &__subtitle {
        margin-bottom: 40px;
        font-size: 21px;
        color:$white;
        font-weight: bold;
    }
    &__item {
        margin-top: 25px;
        &:nth-child(1) {
            margin-top: 0;
        }
    }
    &__link {
        font-size: 15px;
        font-family: "Karla";
        color: rgb(197, 197, 197);
    }
    &__icon {
        margin-left: 15px;
        width: 15px;
        height: 15px;
        &:nth-child(2) {
            margin-left: 0;
        }
    }
    &__law {
        font-size: 15px;
        color: rgb(180, 180, 182);
    }
    &__bottom {
        justify-content: space-between;
        align-items: center;
        background: #04124a;
    }
    &__logo {
        margin: 8px 0;
    }
}
