.portfolio {
    height: 1075px;
    &__subtitle {
        padding-top: 231px;
        font-size: 18px;
        color: $purple;
        font-weight: 700;
    }
    &__title {
        padding: 30px 0 80px 0;
        max-width: 415px;
        font-size: 45px;
        color: #010c39;
    }
    &__row {
        justify-content:space-between;
    }
    &__item {
        box-sizing: border-box;
        padding-left:23px;
        width: 370px;
        height: 520px;
        filter: drop-shadow( 0 0 10px rgba(0,0,0,0.08));
        background-color: $white;
    }
    &__text{
        margin-top: 40px;
        font-size: 15px;
        font-weight: 400;
        font-family: "Karla";
        color: $purple;
    }
    &__name {
        margin-top: 25px;
        font-size: 23px;
        color: #010c39;
        font-weight: 600;
    }
    &__description {
        margin-top: 25px;
        font-size: 16px;
        color:$grey;
    }
    &__img {
        margin-top: 40px;
        width: 325px;
        height: 300px;
        object-fit: cover;
    }
    .slick-initialized .slick-slide {
        outline: none;
        display: block;
        border: none;
        // margin-left: 30px;
        // &:nth-child(1) {
        //     margin-left: 0; 
        // }
    }
    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
        position: absolute;
        height: 48px;
        width: 48px;
        font-size: 0;
        border: 1px solid #e7e7e7;
        border-radius:50%;
        background:transparent;
        outline: none;
        &::after {
            content:'';
            position: absolute;
            width: 7px;
            height: 7px;
            border: 3px solid #010c39;
            border-top: none;
            border-left: none;
        }
    }
    .slick-prev.slick-arrow {
        top: -155px;
        right: 60px;
    }
    .slick-next.slick-arrow {
        top: -155px;
        right: 0;
    }
    .slick-next.slick-arrow::after {
        transform: rotate(-45deg);
        top: 38%;
        left: 35%;
    }
    .slick-prev.slick-arrow::after {
        transform: rotate(135deg);
        top: 40%;
        left: 42%;
    }
}